<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
        ></script>
		<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/emailverify.css" />
		<link rel="stylesheet" href="/public/css/custom.css" />
        <title>Digital Drop - Error</title>
    </head>
    <body>
        <div class="container">
            <div class="form">
                <h2 class="title">Something went wrong</h2>
               	<a href="/dashboard"><button class="verify-btn">GO BACK</button></a>
               
            </div>
        </div>
		<script src="/public/jquery/jquery-3.1.1.js"></script>
		<script src="/public/jquery/jquery.validate.min.js"></script>
	    <script src="/public/js/home.js"></script>
    </body>
</html>
