<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
   	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
   	
   	 <link rel="stylesheet" href="/private/css/user.css" />
	<script src="public/jquery/jquery-3.1.1.js"></script>
	<script src="public/jquery/jquery.validate.min.js"></script>
	<script src="/private/js/user.js"></script>
	<link rel="stylesheet" href="/public/css/custom.css" />	
     <title>Account | DigitalDrop</title>
    </head>
 <body>
 <div class="row">
 <!-- Sidebar Section -->
 <div th:insert="fragments/sidebar :: sidebar" class="col-2"></div>
 <!-- End of Sidebar Section -->

 <!-- Main Content -->
 <main class="col-10 pt-3 ">
<h2>User Account</h2>
<div class="user-account row">
    <form th:action="@{/saveUser}" method="post"  th:object="${user}"
    enctype="multipart/form-data" class="col-12 row" name="userForm">

    <div class="profile col-2">
        <h2>Profile Photo</h2>
        <div class="profile-pic"> 
        <div  th:if="${imageData != null}"><img th:src="@{'data:image/jpeg;base64,' + ${imageData}}" alt="Image"></div>
         <div th:if="${imageData == null}"> <img src="/private/img/person-icon.png" class="w-80">  </div>        
        <div>
                <span class="material-icons-sharp">
                    camera_alt
                </span>
            <input type="file" name ="image" id="image" accept=".png, .jpg">
            <div class="regError">				  	
			</div>
        </div>
        </div>
        <br>
    </div>
    <div class="col-9 row">
    <div class="form-group  col-6">
        <h3 for="firstName">Full Name</h2>
        <div class="input-field">
            <input type="text" id="fullName" name="fullName" th:field="*{fullName}">
            <div class="regError">				  	
			</div>
        </div>
    </div>
      <div class="form-group col-6">
          <h3 for="email">Email</h2>
          <div class="input-field">
              <input type="text" id="email" name="email" disabled="disabled" th:field="*{email}">
          </div>
      </div>
      <div class="form-group col-6">
          <h3 for="password">Password</h2>
          <div class="input-field">
              <input type="password" id="password" name="password" placeholder="**********">
              <div class="regError">				  	
			  </div>
          </div>
      </div>
      <div class="form-group col-12">
          <h3 for="website">Website (optional)</h2>
          <div class="input-field">
              <input type="text" id="website" name="website" th:field="*{website}">
          </div>
      </div>
      <div class="form-group col-12">
          <h3 for="businessName">Business Name</h2>
          <div class="input-field">
              <input type="text" required id="businessName" name="businessName" th:field="*{businessName}">
          </div>
      </div>
      <div class="form-group col-12">
          <h3 for="description">Business Address</h2>
          <div class="input-field">
              <textarea id="businessDescr" required name="businessDescr" th:field="*{businessDescr}"></textarea>
          </div>
      </div>
        <div class="save-btn">
            <button type="submit">Save Changes</button>
            <div class="error-msg">
                <p></p>
            </div>
        </div>
    </form>
</div>
     <!-- End of Main Content -->
 </div>
    </body>
</html>